/**
 * @file:     样式表
 * @author: 花夏(liubiao@itoxs.com)
 * @version:   V0.0.1
 * @date:     2017-08-09 10:41:54
 */
html,
body {
    font-family: "SF Pro SC","SF Pro Text","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 100;
}
#top {
    width: 230px;
    height: 80px;
    background-color: rgba(0, 0, 0, .618);
    opacity: .618;
    text-align: right;
    color: #fff;
    font-size: 52px;
    display:table-cell; 
    vertical-align: bottom;
}
